<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
   <div id="app">
        {{ msg }}
        <p v-bind:title="Titulo">Teste te title</p>
        <p v-if="condicao">if conticao</p>
        <p v-for="registro in registros">{{ registro.titulo }}</p>
        <button v-if="!clicou" v-on:click="usuarioClicou">true</button>
        <button v-if="clicou" v-on:click="usuarioClicou">false</button>
        <p>
            <input type="text" v-model="usuario.nome">
        </p>
        <p>nome: {{ usuario.nome }}</p>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                msg: "mensgem top",
                Titulo: 'hehehehe',
                condicao: true,
                registros: [
                    {titulo:"oi"},
                    {titulo:"tudo bom?"},
                    {titulo:"nao"},
                    {titulo:"ata"},
                ],
                clicou: true,
                usuario: {
                    nome: '',
                }
            },
            methods: {
                usuarioClicou: function(){
                    this.clicou = !this.clicou;
                }
            } 
        });

    </script>
</body>

</html>